In [15]:
# Exercise 1:
df={'group':['fruit','fruit','fruit','vegetable','vegetable','vegetable'],'name':['apple','banana','orange','broccoli','kale','lettuce'],
   'count':[90,150,130,80,70,125]}
import pandas as pd
fd_pd=pd.DataFrame(df)
fd_pd
fd_pd[fd_pd["count"]>120]

       group     name  count
1      fruit   banana    150
2      fruit   orange    130
5  vegetable  lettuce    125

In [19]:
import numpy as np
fd_pd[np.logical_not(fd_pd["count"]>120)]

       group      name  count
0      fruit     apple     90
3  vegetable  broccoli     80
4  vegetable      kale     70

In [30]:
#Exercise 2
import pandas as pd
a={'P':[5,3],'Q':[20,15]}
df=pd.DataFrame(df)
df.index=['a','b']
df
for i,y in df.iterrows():
    print(i+': '+str(y['P']))

a: 5
b: 3

In [33]:
#Exercise 3:
sales_temp={'product':['A','A','A','B','B','B'],'month':['Jan','Feb','Mar','Jan','Feb','Mar'],'sold':[85,200,180,90,80,130]}
sales=pd.DataFrame(sales_temp)
import numpy as np
pick=np.logical_and(sales['product']=='A',sales['sold'] > 100)
sales[pick]

  product month  sold
1       A   Feb   200
2       A   Mar   180