In [3]:
#Exercise 1:
import pandas as pd
logins=pd.DataFrame({'MONTH':['JAN','FEB'],'day':[7,8],'year':['2015','2015'],'session_id':[17357,10011]})
for j,q in logins.iterrows():
    logins.loc[j,'month']=q['MONTH'].lower()
logins

  MONTH  day  year  session_id month
0   JAN    7  2015       17357   jan
1   FEB    8  2015       10011   feb

In [7]:
#Exercise 2:
import numpy as np
np.random.seed(42)
np.random.randint(14, 20)

17

In [12]:
#Exercise 3:
venues=pd.DataFrame({'year':['1998','2002','2006','2010','2014'],'host':['France','S.Korea','Germany','S.Africa','Brazil'],'winner':['France','Brazil','Italy','Spain','Germany']})
venues.loc[:,['year','host']]

   year      host
0  1998    France
1  2002   S.Korea
2  2006   Germany
3  2010  S.Africa
4  2014    Brazil